**/*.map
**/*.ts
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
.cursor/**
.github/**
.gitignore
.prettierignore
.vscode-test/**
.vscode/**
.yarnrc
AGENTS.md
CLAUDE.md
esbuild.js
img/*.svg
img/logo.png
mise.lock
mise.toml
node_modules/**
out/**
src/**
vsc-extension-quickstart.md
