**/*.map
**/*.ts
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
.cursor/**
.env*
.github/**
.gitignore
.prettierignore
.vscode-test/**
.vscode/**
.yarnrc
pnpm-lock.yaml
AGENTS.md
CLAUDE.md
esbuild.js
mise.lock
mise.toml
node_modules/**
out/**
src/**
vsc-extension-quickstart.md

# Exclude everything in the img folder except the icon.png file.
img/**/*
!img/icon.png
